# Sales Dataset

In [ ]:
## Dataset Creation
The sales dataset used in this project was manually created within the python scripts as a list of dictionaries.
This approach was intentionally chosen to demonstrate a clear undestanding of python data structures 
and to maintain full control over the data format during analysis.

Each sales record represents a different transactions and contains the following fields:
- 'item' (string): Name of the product sold
- 'quantity' (integer): Number of units sold
- 'price' (float): Unit price of the item

The dataset consists of 30 records covering variety of items and was done to simulate a simple retail sales scenario 
suitable for demonstrating revenue calculations, aggregate logic ans basic business insights.

sales_dataset =[
    {"item": "bag", "quantity": 3, "price": 4999.20},
    {"item": "shoes", "quantity": 2, "price": 12000.50},
    {"item": "t-shirt", "quantity": 5, "price": 2500.75},
    {"item": "jeans", "quantity": 2, "price": 8000.99},
    {"item": "cap", "quantity": 4, "price": 1200.50},
    {"item": "sunglasses", "quantity": 1, "price": 7500.00},
    {"item": "watch", "quantity": 1, "price": 15000.99},
    {"item": "belt", "quantity": 3, "price": 3500.25},
    {"item": "wallet", "quantity": 2, "price": 4500.50},
    {"item": "scarf", "quantity": 5, "price": 2200.00},
    {"item": "handbag", "quantity": 2, "price": 9000.75},
    {"item": "socks", "quantity": 10, "price": 800.501},
    {"item": "jacket", "quantity": 1, "price": 18000.00},
    {"item": "sneakers", "quantity": 2, "price": 15000.25},
    {"item": "hoodie", "quantity": 3, "price": 6500.50},
    {"item": "gloves", "quantity": 4, "price": 1200.99},
    {"item": "earrings", "quantity": 2, "price": 3500.75},
    {"item": "necklace", "quantity": 1, "price": 8000.00},
    {"item": "bracelet", "quantity": 3, "price": 4200.50},
    {"item": "hat", "quantity": 2, "price": 1800.25},
    {"item": "phone case", "quantity": 6, "price": 1200.00},
    {"item": "laptop bag", "quantity": 1, "price": 22000.992},
    {"item": "notebook", "quantity": 7, "price": 750.501},
    {"item": "pen", "quantity": 12, "price": 150.25},
    {"item": "water bottle", "quantity": 5, "price": 1200.75},
    {"item": "headphones", "quantity": 2, "price": 9500.50},
    {"item": "tablet", "quantity": 1, "price": 65000.996},
    {"item": "charger", "quantity": 4, "price": 1800.50},
    {"item": "mouse", "quantity": 3, "price": 2500.25},
    {"item": "keyboard", "quantity": 2, "price": 4500.75}
]

## Core Analysis Functions

In [ ]:
#  Function to calculate revenue for each item
def revenue_per_item (item):
    revenue = item["price"] * item["quantity"]
    print (f'{item["item"]}: ₦{revenue:.2f}')
    return revenue

In [ ]:
# Example use of the function to calculate revenue for a specific item
revenue_per_item (sales_dataset[6])

watch: ₦15000.99

15000.99

In [ ]:
# Function to calculate total revenue from all sales
def total_revenue(sales_dataset):
    total = 0
    for item in sales_dataset:
        total += item["price"] * item["quantity"]
    print(f"Total revenue: ₦{total:.2f}")

In [ ]:
# Example usage
total_revenue(sales_dataset)

Total revenue: ₦404792.53

In [ ]:
# Function to find the best- selling item based on quantity sold
def best_selling_item (sales_dataset):
    best_item = None
    highest_quantity =0
    for item in sales_dataset:
        if item["quantity"] > highest_quantity:
            highest_quantity= item["quantity"]
            best_item = item
    print (f"best_selling_item: {best_item['item']}, (Quantity: {highest_quantity})")
    return best_item

In [ ]:
# Example usage
best_selling_item(sales_dataset)

best_selling_item: pen, (Quantity: 12)

{'item': 'pen', 'quantity': 12, 'price': 150.25}

In [ ]:
 # Function to find the item with the highest revenue
def highest_revenue(sales_dataset):
    highest_revenue_item = None
    highest_revenue =0
    for item in sales_dataset:
        revenue =item["price"] * item["quantity"]
        if revenue > highest_revenue:
            highest_revenue = revenue
            highest_revenue_item =item
    print (f"Highest_revenue_item:{highest_revenue_item['item']}, (Revenue :₦{highest_revenue:.2f})")

In [ ]:
# Example usage
highest_revenue(sales_dataset)

Highest_revenue_item:tablet, (Revenue :₦65001.00)

In [ ]:
# Funtion to count number of unique items sold
def count_unique_items (sales_dataset):
    unique_items = set()
    for item in sales_dataset:
        unique_items.add(item["item"])
    print(f"Unique items ({len(unique_items)}): {unique_items}")
    return len(unique_items)

In [ ]:
 # Example usage
count_unique_items (sales_dataset)

Unique items (30): {'headphones', 'scarf', 'earrings', 'wallet', 'keyboard', 'necklace', 'socks', 'sneakers', 'laptop bag', 't-shirt', 'hoodie', 'pen', 'water bottle', 'hat', 'charger', 'notebook', 'sunglasses', 'belt', 'cap', 'phone case', 'handbag', 'watch', 'shoes', 'bag', 'tablet', 'mouse', 'jacket', 'gloves', 'bracelet', 'jeans'}

30

In [ ]:
# Function to calculate average price of items sold
def average_item_price (sales_dataset):
    total_price = 0
    for item in sales_dataset:
        total_price += item['price']
        average_price = total_price / len(sales_dataset)
    print(f"average_item_price: ₦{average_price:.2f}")

In [ ]:
# Example usage
average_item_price (sales_dataset)

average_item_price: ₦7933.79

In [ ]:
# Function to filter sales above a given amount
def filter_sales_above_a_given_amount(sales_dataset, amount):
    filtered_amount = []
    for item in sales_dataset:
        if item['price'] > amount:
            filtered_amount.append(item)
    print(f"Sales above ₦{amount:.2f}: {filtered_amount}")
    return filtered_amount

In [ ]:
#Example usage
filter_sales_above_a_given_amount(sales_dataset, 7000)

Sales above ₦7000.00: [{'item': 'shoes', 'quantity': 2, 'price': 12000.5}, {'item': 'jeans', 'quantity': 2, 'price': 8000.99}, {'item': 'sunglasses', 'quantity': 1, 'price': 7500.0}, {'item': 'watch', 'quantity': 1, 'price': 15000.99}, {'item': 'handbag', 'quantity': 2, 'price': 9000.75}, {'item': 'jacket', 'quantity': 1, 'price': 18000.0}, {'item': 'sneakers', 'quantity': 2, 'price': 15000.25}, {'item': 'necklace', 'quantity': 1, 'price': 8000.0}, {'item': 'laptop bag', 'quantity': 1, 'price': 22000.992}, {'item': 'headphones', 'quantity': 2, 'price': 9500.5}, {'item': 'tablet', 'quantity': 1, 'price': 65000.996}]

[{'item': 'shoes', 'quantity': 2, 'price': 12000.5},
 {'item': 'jeans', 'quantity': 2, 'price': 8000.99},
 {'item': 'sunglasses', 'quantity': 1, 'price': 7500.0},
 {'item': 'watch', 'quantity': 1, 'price': 15000.99},
 {'item': 'handbag', 'quantity': 2, 'price': 9000.75},
 {'item': 'jacket', 'quantity': 1, 'price': 18000.0},
 {'item': 'sneakers', 'quantity': 2, 'price': 15000.25},
 {'item': 'necklace', 'quantity': 1, 'price': 8000.0},
 {'item': 'laptop bag', 'quantity': 1, 'price': 22000.992},
 {'item': 'headphones', 'quantity': 2, 'price': 9500.5},
 {'item': 'tablet', 'quantity': 1, 'price': 65000.996}]

In [ ]:
# Function to apply a discount to all items in the dataset
def apply_discount(sales_dataset, discount_percent):
    for item in sales_dataset:
        discount_amount = item['price'] * discount_percent/100
        item['price'] = round(item['price'] - discount_amount, 2)
    print(f"{discount_percent}% discount: {sales_dataset}")
    return sales_dataset

In [ ]:
# Example usage
apply_discount(sales_dataset, 10)

10% discount: [{'item': 'bag', 'quantity': 3, 'price': 4499.28}, {'item': 'shoes', 'quantity': 2, 'price': 10800.45}, {'item': 't-shirt', 'quantity': 5, 'price': 2250.68}, {'item': 'jeans', 'quantity': 2, 'price': 7200.89}, {'item': 'cap', 'quantity': 4, 'price': 1080.45}, {'item': 'sunglasses', 'quantity': 1, 'price': 6750.0}, {'item': 'watch', 'quantity': 1, 'price': 13500.89}, {'item': 'belt', 'quantity': 3, 'price': 3150.22}, {'item': 'wallet', 'quantity': 2, 'price': 4050.45}, {'item': 'scarf', 'quantity': 5, 'price': 1980.0}, {'item': 'handbag', 'quantity': 2, 'price': 8100.68}, {'item': 'socks', 'quantity': 10, 'price': 720.45}, {'item': 'jacket', 'quantity': 1, 'price': 16200.0}, {'item': 'sneakers', 'quantity': 2, 'price': 13500.23}, {'item': 'hoodie', 'quantity': 3, 'price': 5850.45}, {'item': 'gloves', 'quantity': 4, 'price': 1080.89}, {'item': 'earrings', 'quantity': 2, 'price': 3150.68}, {'item': 'necklace', 'quantity': 1, 'price': 7200.0}, {'item': 'bracelet', 'quantity': 3, 'price': 3780.45}, {'item': 'hat', 'quantity': 2, 'price': 1620.22}, {'item': 'phone case', 'quantity': 6, 'price': 1080.0}, {'item': 'laptop bag', 'quantity': 1, 'price': 19800.89}, {'item': 'notebook', 'quantity': 7, 'price': 675.45}, {'item': 'pen', 'quantity': 12, 'price': 135.22}, {'item': 'water bottle', 'quantity': 5, 'price': 1080.67}, {'item': 'headphones', 'quantity': 2, 'price': 8550.45}, {'item': 'tablet', 'quantity': 1, 'price': 58500.9}, {'item': 'charger', 'quantity': 4, 'price': 1620.45}, {'item': 'mouse', 'quantity': 3, 'price': 2250.22}, {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}]

[{'item': 'bag', 'quantity': 3, 'price': 4499.28},
 {'item': 'shoes', 'quantity': 2, 'price': 10800.45},
 {'item': 't-shirt', 'quantity': 5, 'price': 2250.68},
 {'item': 'jeans', 'quantity': 2, 'price': 7200.89},
 {'item': 'cap', 'quantity': 4, 'price': 1080.45},
 {'item': 'sunglasses', 'quantity': 1, 'price': 6750.0},
 {'item': 'watch', 'quantity': 1, 'price': 13500.89},
 {'item': 'belt', 'quantity': 3, 'price': 3150.22},
 {'item': 'wallet', 'quantity': 2, 'price': 4050.45},
 {'item': 'scarf', 'quantity': 5, 'price': 1980.0},
 {'item': 'handbag', 'quantity': 2, 'price': 8100.68},
 {'item': 'socks', 'quantity': 10, 'price': 720.45},
 {'item': 'jacket', 'quantity': 1, 'price': 16200.0},
 {'item': 'sneakers', 'quantity': 2, 'price': 13500.23},
 {'item': 'hoodie', 'quantity': 3, 'price': 5850.45},
 {'item': 'gloves', 'quantity': 4, 'price': 1080.89},
 {'item': 'earrings', 'quantity': 2, 'price': 3150.68},
 {'item': 'necklace', 'quantity': 1, 'price': 7200.0},
 {'item': 'bracelet', 'quantity': 3, 'price': 3780.45},
 {'item': 'hat', 'quantity': 2, 'price': 1620.22},
 {'item': 'phone case', 'quantity': 6, 'price': 1080.0},
 {'item': 'laptop bag', 'quantity': 1, 'price': 19800.89},
 {'item': 'notebook', 'quantity': 7, 'price': 675.45},
 {'item': 'pen', 'quantity': 12, 'price': 135.22},
 {'item': 'water bottle', 'quantity': 5, 'price': 1080.67},
 {'item': 'headphones', 'quantity': 2, 'price': 8550.45},
 {'item': 'tablet', 'quantity': 1, 'price': 58500.9},
 {'item': 'charger', 'quantity': 4, 'price': 1620.45},
 {'item': 'mouse', 'quantity': 3, 'price': 2250.22},
 {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}]

## Indexing and slicing

In [18]:
print ('First sales record:',sales_dataset[0])

First sales record: {'item': 'bag', 'quantity': 3, 'price': 4499.28}

In [19]:
print ('Last record:' ,sales_dataset[-1])

Last record: {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}

In [20]:
print('first three record:' , sales_dataset[0:3])

first three record: [{'item': 'bag', 'quantity': 3, 'price': 4499.28}, {'item': 'shoes', 'quantity': 2, 'price': 10800.45}, {'item': 't-shirt', 'quantity': 5, 'price': 2250.68}]

In [21]:
print('last two record:' , sales_dataset[28:])

last two record: [{'item': 'mouse', 'quantity': 3, 'price': 2250.22}, {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}]

In [22]:
print('Item name of third sales record:' , sales_dataset[2]["item"])

Item name of third sales record: t-shirt

In [23]:
sales_dataset[0]['quantity'] = 7
print('Modified first record quantity:' , sales_dataset[0]['quantity'])

Modified first record quantity: 7

In [24]:
sales_dataset[3]['price'] = 8200.29
print('Modified 4th Price: ₦' , (sales_dataset[3]['price']))

Modified 4th Price: ₦ 8200.29

## Conditionals and Loops

In [25]:
items_without_duplicates = set()

for sale in sales_dataset:
    items_without_duplicates.add(sale["item"])

for item in items_without_duplicates:
    print(item)

headphones
scarf
earrings
wallet
keyboard
necklace
socks
sneakers
laptop bag
t-shirt
hoodie
pen
water bottle
hat
charger
notebook
sunglasses
belt
cap
phone case
handbag
watch
shoes
bag
tablet
mouse
jacket
gloves
bracelet
jeans

In [26]:
def classify_sales(sales_dataset):
    for sale in sales_dataset:
        sale_value = sale["price"] * sale["quantity"]
        if sale_value < 5000:
            classification = "LOW"
        elif sale_value < 20000:
            classification = "MEDIUM"
        else:
            classification = "HIGH"
        print(f"Classified Sale: {sale['item']} - Value: ₦{sale_value:.2f} - Category: {classification}")

In [27]:
classify_sales(sales_dataset)

Classified Sale: bag - Value: ₦31494.96 - Category: HIGH
Classified Sale: shoes - Value: ₦21600.90 - Category: HIGH
Classified Sale: t-shirt - Value: ₦11253.40 - Category: MEDIUM
Classified Sale: jeans - Value: ₦16400.58 - Category: MEDIUM
Classified Sale: cap - Value: ₦4321.80 - Category: LOW
Classified Sale: sunglasses - Value: ₦6750.00 - Category: MEDIUM
Classified Sale: watch - Value: ₦13500.89 - Category: MEDIUM
Classified Sale: belt - Value: ₦9450.66 - Category: MEDIUM
Classified Sale: wallet - Value: ₦8100.90 - Category: MEDIUM
Classified Sale: scarf - Value: ₦9900.00 - Category: MEDIUM
Classified Sale: handbag - Value: ₦16201.36 - Category: MEDIUM
Classified Sale: socks - Value: ₦7204.50 - Category: MEDIUM
Classified Sale: jacket - Value: ₦16200.00 - Category: MEDIUM
Classified Sale: sneakers - Value: ₦27000.46 - Category: HIGH
Classified Sale: hoodie - Value: ₦17551.35 - Category: MEDIUM
Classified Sale: gloves - Value: ₦4323.56 - Category: LOW
Classified Sale: earrings - Value: ₦6301.36 - Category: MEDIUM
Classified Sale: necklace - Value: ₦7200.00 - Category: MEDIUM
Classified Sale: bracelet - Value: ₦11341.35 - Category: MEDIUM
Classified Sale: hat - Value: ₦3240.44 - Category: LOW
Classified Sale: phone case - Value: ₦6480.00 - Category: MEDIUM
Classified Sale: laptop bag - Value: ₦19800.89 - Category: MEDIUM
Classified Sale: notebook - Value: ₦4728.15 - Category: LOW
Classified Sale: pen - Value: ₦1622.64 - Category: LOW
Classified Sale: water bottle - Value: ₦5403.35 - Category: MEDIUM
Classified Sale: headphones - Value: ₦17100.90 - Category: MEDIUM
Classified Sale: tablet - Value: ₦58500.90 - Category: HIGH
Classified Sale: charger - Value: ₦6481.80 - Category: MEDIUM
Classified Sale: mouse - Value: ₦6750.66 - Category: MEDIUM
Classified Sale: keyboard - Value: ₦8101.36 - Category: MEDIUM

In [28]:
#how many items cost above a certain threshold
def count_items_above_threshold(sales_dataset, threshold):
    count = 0
    items_above =[]
    for sale in sales_dataset:
        if sale["price"] > threshold:
            count +=1
            items_above.append(sale["item"])
        print(f"Number of items above ₦{threshold}: {count}")
        print("Items above threshold:", items_above)
    return count

In [29]:
count_items_above_threshold(sales_dataset, 5000)

Number of items above ₦5000: 0
Items above threshold: []
Number of items above ₦5000: 1
Items above threshold: ['shoes']
Number of items above ₦5000: 1
Items above threshold: ['shoes']
Number of items above ₦5000: 2
Items above threshold: ['shoes', 'jeans']
Number of items above ₦5000: 2
Items above threshold: ['shoes', 'jeans']
Number of items above ₦5000: 3
Items above threshold: ['shoes', 'jeans', 'sunglasses']
Number of items above ₦5000: 4
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch']
Number of items above ₦5000: 4
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch']
Number of items above ₦5000: 4
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch']
Number of items above ₦5000: 4
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch']
Number of items above ₦5000: 5
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag']
Number of items above ₦5000: 5
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag']
Number of items above ₦5000: 6
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket']
Number of items above ₦5000: 7
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers']
Number of items above ₦5000: 8
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie']
Number of items above ₦5000: 8
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie']
Number of items above ₦5000: 8
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie']
Number of items above ₦5000: 9
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace']
Number of items above ₦5000: 9
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace']
Number of items above ₦5000: 9
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace']
Number of items above ₦5000: 9
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace']
Number of items above ₦5000: 10
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag']
Number of items above ₦5000: 10
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag']
Number of items above ₦5000: 10
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag']
Number of items above ₦5000: 10
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag']
Number of items above ₦5000: 11
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag', 'headphones']
Number of items above ₦5000: 12
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag', 'headphones', 'tablet']
Number of items above ₦5000: 12
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag', 'headphones', 'tablet']
Number of items above ₦5000: 12
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag', 'headphones', 'tablet']
Number of items above ₦5000: 12
Items above threshold: ['shoes', 'jeans', 'sunglasses', 'watch', 'handbag', 'jacket', 'sneakers', 'hoodie', 'necklace', 'laptop bag', 'headphones', 'tablet']

12

## Sorting and searching

In [30]:
#Sort sales by price (ascending)
sales_dataset.sort (key=lambda sale: sale["price"])
print("Sorted:" ,sales_dataset)

Sorted: [{'item': 'pen', 'quantity': 12, 'price': 135.22}, {'item': 'notebook', 'quantity': 7, 'price': 675.45}, {'item': 'socks', 'quantity': 10, 'price': 720.45}, {'item': 'phone case', 'quantity': 6, 'price': 1080.0}, {'item': 'cap', 'quantity': 4, 'price': 1080.45}, {'item': 'water bottle', 'quantity': 5, 'price': 1080.67}, {'item': 'gloves', 'quantity': 4, 'price': 1080.89}, {'item': 'hat', 'quantity': 2, 'price': 1620.22}, {'item': 'charger', 'quantity': 4, 'price': 1620.45}, {'item': 'scarf', 'quantity': 5, 'price': 1980.0}, {'item': 'mouse', 'quantity': 3, 'price': 2250.22}, {'item': 't-shirt', 'quantity': 5, 'price': 2250.68}, {'item': 'belt', 'quantity': 3, 'price': 3150.22}, {'item': 'earrings', 'quantity': 2, 'price': 3150.68}, {'item': 'bracelet', 'quantity': 3, 'price': 3780.45}, {'item': 'wallet', 'quantity': 2, 'price': 4050.45}, {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}, {'item': 'bag', 'quantity': 7, 'price': 4499.28}, {'item': 'hoodie', 'quantity': 3, 'price': 5850.45}, {'item': 'sunglasses', 'quantity': 1, 'price': 6750.0}, {'item': 'necklace', 'quantity': 1, 'price': 7200.0}, {'item': 'handbag', 'quantity': 2, 'price': 8100.68}, {'item': 'jeans', 'quantity': 2, 'price': 8200.29}, {'item': 'headphones', 'quantity': 2, 'price': 8550.45}, {'item': 'shoes', 'quantity': 2, 'price': 10800.45}, {'item': 'sneakers', 'quantity': 2, 'price': 13500.23}, {'item': 'watch', 'quantity': 1, 'price': 13500.89}, {'item': 'jacket', 'quantity': 1, 'price': 16200.0}, {'item': 'laptop bag', 'quantity': 1, 'price': 19800.89}, {'item': 'tablet', 'quantity': 1, 'price': 58500.9}]

In [31]:
#Sort sales by price (descending)
sales_dataset.sort(key=lambda sale: sale["quantity"], reverse=True)
print("Descending:" ,sales_dataset)

Descending: [{'item': 'pen', 'quantity': 12, 'price': 135.22}, {'item': 'socks', 'quantity': 10, 'price': 720.45}, {'item': 'notebook', 'quantity': 7, 'price': 675.45}, {'item': 'bag', 'quantity': 7, 'price': 4499.28}, {'item': 'phone case', 'quantity': 6, 'price': 1080.0}, {'item': 'water bottle', 'quantity': 5, 'price': 1080.67}, {'item': 'scarf', 'quantity': 5, 'price': 1980.0}, {'item': 't-shirt', 'quantity': 5, 'price': 2250.68}, {'item': 'cap', 'quantity': 4, 'price': 1080.45}, {'item': 'gloves', 'quantity': 4, 'price': 1080.89}, {'item': 'charger', 'quantity': 4, 'price': 1620.45}, {'item': 'mouse', 'quantity': 3, 'price': 2250.22}, {'item': 'belt', 'quantity': 3, 'price': 3150.22}, {'item': 'bracelet', 'quantity': 3, 'price': 3780.45}, {'item': 'hoodie', 'quantity': 3, 'price': 5850.45}, {'item': 'hat', 'quantity': 2, 'price': 1620.22}, {'item': 'earrings', 'quantity': 2, 'price': 3150.68}, {'item': 'wallet', 'quantity': 2, 'price': 4050.45}, {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}, {'item': 'handbag', 'quantity': 2, 'price': 8100.68}, {'item': 'jeans', 'quantity': 2, 'price': 8200.29}, {'item': 'headphones', 'quantity': 2, 'price': 8550.45}, {'item': 'shoes', 'quantity': 2, 'price': 10800.45}, {'item': 'sneakers', 'quantity': 2, 'price': 13500.23}, {'item': 'sunglasses', 'quantity': 1, 'price': 6750.0}, {'item': 'necklace', 'quantity': 1, 'price': 7200.0}, {'item': 'watch', 'quantity': 1, 'price': 13500.89}, {'item': 'jacket', 'quantity': 1, 'price': 16200.0}, {'item': 'laptop bag', 'quantity': 1, 'price': 19800.89}, {'item': 'tablet', 'quantity': 1, 'price': 58500.9}]

In [32]:
#function to search for an item and return matching records
def search_item(sales_dataset, search_name):
    results = []
    for sale in sales_dataset:
        if sale["item"].lower() == search_name.lower(): 
            results.append(sale)
    return results

In [33]:
search_item(sales_dataset, "laptop bag")

[{'item': 'laptop bag', 'quantity': 1, 'price': 19800.89}]

## String Manipulation

In [34]:
#convert all item names to lowercase
for sale in sales_dataset:
    sale["item"] = sale["item"].lower()

In [35]:
sales_dataset

[{'item': 'pen', 'quantity': 12, 'price': 135.22},
 {'item': 'socks', 'quantity': 10, 'price': 720.45},
 {'item': 'notebook', 'quantity': 7, 'price': 675.45},
 {'item': 'bag', 'quantity': 7, 'price': 4499.28},
 {'item': 'phone case', 'quantity': 6, 'price': 1080.0},
 {'item': 'water bottle', 'quantity': 5, 'price': 1080.67},
 {'item': 'scarf', 'quantity': 5, 'price': 1980.0},
 {'item': 't-shirt', 'quantity': 5, 'price': 2250.68},
 {'item': 'cap', 'quantity': 4, 'price': 1080.45},
 {'item': 'gloves', 'quantity': 4, 'price': 1080.89},
 {'item': 'charger', 'quantity': 4, 'price': 1620.45},
 {'item': 'mouse', 'quantity': 3, 'price': 2250.22},
 {'item': 'belt', 'quantity': 3, 'price': 3150.22},
 {'item': 'bracelet', 'quantity': 3, 'price': 3780.45},
 {'item': 'hoodie', 'quantity': 3, 'price': 5850.45},
 {'item': 'hat', 'quantity': 2, 'price': 1620.22},
 {'item': 'earrings', 'quantity': 2, 'price': 3150.68},
 {'item': 'wallet', 'quantity': 2, 'price': 4050.45},
 {'item': 'keyboard', 'quantity': 2, 'price': 4050.68},
 {'item': 'handbag', 'quantity': 2, 'price': 8100.68},
 {'item': 'jeans', 'quantity': 2, 'price': 8200.29},
 {'item': 'headphones', 'quantity': 2, 'price': 8550.45},
 {'item': 'shoes', 'quantity': 2, 'price': 10800.45},
 {'item': 'sneakers', 'quantity': 2, 'price': 13500.23},
 {'item': 'sunglasses', 'quantity': 1, 'price': 6750.0},
 {'item': 'necklace', 'quantity': 1, 'price': 7200.0},
 {'item': 'watch', 'quantity': 1, 'price': 13500.89},
 {'item': 'jacket', 'quantity': 1, 'price': 16200.0},
 {'item': 'laptop bag', 'quantity': 1, 'price': 19800.89},
 {'item': 'tablet', 'quantity': 1, 'price': 58500.9}]

In [36]:
#Remove spaces from item names.
for sale in sales_dataset:
    sale["item"] = sale["item"].replace(" ", "")

In [37]:
#Check if an item name contains a specific substring
substring = "bag"  # replace with whatever you want to check

for sale in sales_dataset:
    if substring in sale["item"]:
        print(sale["item"], "contains", substring)

bag contains bag
handbag contains bag
laptopbag contains bag

## Error Handling (Exceptions)

In [38]:
#a function to safely convert user input to an integer
number = int(input("Enter a number: "))

if number < 0:
    print("Negative number")
elif number == 0:
    print("Zero")
elif number <= 10:
    print("Small positive number")
else:
    print("Large positive number")

Enter a number:  5

Small positive number

In [39]:
#Handle errors when accessing an index that doesn’t exist.
try:
    numbers = [1,2,3,4,5,6,7,8,14,7,9]
    index =int(input("Enter correct index"))
    print(f"Value at index{index}: {numbers[index]}")
except ValueError:
    print("Error: Please enter valid number!")
except TypeError:
    print("Error: Please enter correct type!")
except IndexError:
    print("Error: Index out of range!")

Enter correct index 7

Value at index7: 8

## Object Oriented Programming

In [51]:
#created salesitem with the requirement
class SalesItem:
    item = None
    quantity = None
    price = None

    def calculate_revenue(self):
        return self.price * self.quantity
    def print_details(self):
        print("Item:", self.item)
        print("Quantity:", self.quantity)
        print("Price:", self.price)
        print("Revenue:", self.calculate_revenue())
        print("---------------------------")

item1 = SalesItem()
item1.item = "Perfumes"
item1.quantity = 3
item1.price = 2500

item2 = SalesItem()
item2.item = "Shoes"
item2.quantity = 2
item2.price = 4000

item3 = SalesItem()
item3.item = "Suitcase"
item3.quantity = 5
item3.price = 1500

print(item1.calculate_revenue())
print(item2.calculate_revenue())
print(item3.calculate_revenue())

7500
8000
7500

## File Handling (Read & Write)

In [52]:
#code to save my sales dataset to a text file
with open("sales_data.txt", "w") as file:
    file.write("Sales Dataset:\n\n")
    file.write(str(sales_dataset))

print("Saved!")

Saved!

In [53]:
#read the file and print the content
with open("sales_data.txt", "r") as file:
    content = file.read()

print(content)

Sales Dataset:

[{'item': 'pen', 'quantity': 12, 'price': 135.22}, {'item': 'socks', 'quantity': 10, 'price': 720.45}, {'item': 'notebook', 'quantity': 7, 'price': 675.45}, {'item': 'bag', 'quantity': 7, 'price': 4499.28}, {'item': 'phonecase', 'quantity': 6, 'price': 1080.0}, {'item': 'waterbottle', 'quantity': 5, 'price': 1080.67}, {'item': 'scarf', 'quantity': 5, 'price': 1980.0}, {'item': 't-shirt', 'quantity': 5, 'price': 2250.68}, {'item': 'cap', 'quantity': 4, 'price': 1080.45}, {'item': 'gloves', 'quantity': 4, 'price': 1080.89}, {'item': 'charger', 'quantity': 4, 'price': 1620.45}, {'item': 'mouse', 'quantity': 3, 'price': 2250.22}, {'item': 'belt', 'quantity': 3, 'price': 3150.22}, {'item': 'bracelet', 'quantity': 3, 'price': 3780.45}, {'item': 'hoodie', 'quantity': 3, 'price': 5850.45}, {'item': 'hat', 'quantity': 2, 'price': 1620.22}, {'item': 'earrings', 'quantity': 2, 'price': 3150.68}, {'item': 'wallet', 'quantity': 2, 'price': 4050.45}, {'item': 'keyboard', 'quantity': 2, 'price': 4050.68}, {'item': 'handbag', 'quantity': 2, 'price': 8100.68}, {'item': 'jeans', 'quantity': 2, 'price': 8200.29}, {'item': 'headphones', 'quantity': 2, 'price': 8550.45}, {'item': 'shoes', 'quantity': 2, 'price': 10800.45}, {'item': 'sneakers', 'quantity': 2, 'price': 13500.23}, {'item': 'sunglasses', 'quantity': 1, 'price': 6750.0}, {'item': 'necklace', 'quantity': 1, 'price': 7200.0}, {'item': 'watch', 'quantity': 1, 'price': 13500.89}, {'item': 'jacket', 'quantity': 1, 'price': 16200.0}, {'item': 'laptopbag', 'quantity': 1, 'price': 19800.89}, {'item': 'tablet', 'quantity': 1, 'price': 58500.9}]

### Summary report (total revenue, best item, etc.) to a new text file.

In [56]:
# Calculate total revenue
total_revenue = sum(item["price"] * item["quantity"] for item in sales_dataset)

# Find best-selling item by quantity
best_selling_item = max(sales_dataset, key=lambda item: item["quantity"])

# Find highest revenue item
highest_revenue_item = max(sales_dataset, key=lambda item: item["price"] * item["quantity"])

# Write the summary report to a text file
with open("sales_summary.txt", "w", encoding="utf-8") as file:
    file.write("SALES SUMMARY REPORT\n\n")
    file.write(f"Total Revenue: ₦{total_revenue:.2f}\n")
    file.write(f"Best Selling Item: {best_selling_item['item']} (Quantity: {best_selling_item['quantity']})\n")
    file.write(f"Highest Revenue Item: {highest_revenue_item['item']} "
               f"(Revenue: ₦{highest_revenue_item['price'] * highest_revenue_item['quantity']:.2f})\n")


print("Summary report saved as 'sales_summary.txt'!")

Summary report saved as 'sales_summary.txt'!